{% extends 'base.html' %}

{% block content %}
    <div style="background-color: blueviolet">
        Your purchases:
    </div>
    {% for purch in object_list %}
        <div style="background-color: bisque">
            <p>Product: {{ purch.product.name }}</p>
            <p>Time of buy: {{ purch.time_of_buy }}</p>
            <form method="post" action="{% url 'purchase_return' %}">
                {% csrf_token %}
            </form>
        </div>
    {% endfor %}
{#    <form method="post" action="{% url '' %}"#}
{% endblock %}